<!DOCTYPE html>
<html lang="<%= getLocale() %>">

<head>

  <head>
    <!-- Info -->
    <title>Belgrade law office</title>
    <meta name="author" content="David Milosavljević, sodakolor@gmail.com">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favico -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Styles -->
    <link href="layout/styles/framework.css" rel="stylesheet" type="text/css" media="all">
    <link href="layout/styles/fontawesome-4.6.3.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body id="top">
    <p id="border-t"></p>
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul class="nospace">
            <li>
              <i style="color: #D3B889" class="fa fa-envelope-o"></i class="sm-letters">
              <a style="color: #878787" href="mailto:info@lawofficebelgrade.com" target="_top" class="contact-info-2">
                info@lawofficebelgrade.com </a>
            </li>
            <li style="color: #878787">
              <i style="color: #D3B889" class="fa fa-phone"></i> +00 (381) 24 32 800</li>
          </ul>
        </div>
        <div class="fl_right">
          <a href="#" style="color: #D3B889; padding-right: 7px;"> Choose language: </a>
          <a href="/en">
            <img id="englang" style="width: 25px; margin-left: 2.5px;margin-right: 2.5px;" src="images/demo/backgrounds/en.png">
          </a>
          <a id="francuski" href="/fr">
            <img id="frlang" style="width: 25px; margin-left: 5px; margin-left: 2.5px;margin-right: 2.5px;" src="images/demo/backgrounds/fr.png">
          </a>
          <a href="/srb">
            <img id="srblang" style="width: 25px; margin-left: 2.5px;margin-right: 2.5px;" src="images/demo/backgrounds/srb.png">
          </a>
        </div>
      </div>
    </div>

    <div id="mySidenav" align="center" style="z-index: 1000;" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/main">
        <%= __('homepage') %>
      </a>
      <a href="/aboutus">
        <%= __('aboutus') %>
      </a>
      <a href="/field">
        <%= __('fieldof') %>
      </a>
      <a href="/reference">
        <%= __('reference') %>
      </a>
    </div>

    <div style="width: 100%; margin-bottom: 20px; text-align:center;">
      <span id="hamburger" style="display: none; font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
    </div>

    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <nav id="mainav" align="center">
          <ul class="clear">
            <li>
              <a href="/main" data-translatable>
                <%= __('homepage') %>
              </a>
            </li>
            <li>
              <a href="/aboutus">
                <%= __('aboutus') %>
              </a>
            </li>
            <li>
              <a href="/field">
                <%= __('fieldof') %>
              </a>
            </li>
            <li>
              <a href="/reference">
                <%= __('reference') %>
              </a>
            </li>
            <li>
              <a href="#">
                <%= __('contact') %>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <!-- Top Background Image Wrapper -->
    <div style="height: 400px;" id="map">
    </div>

    <div class="center" align="center">
      <img style="width: 60px; margin-top: 50px; margin-bottom: 10px;" src="/images/vaga-logo.png" alt="copyright-logo">
      <h2 style="width: 140px; margin: auto;" id="contact-title">
        <%= __('CONTACT') %>
      </h2>
    </div>

    <div class="wrapper row3">
      <main class="responsive_container hoc container clear">
        <div class="content">
          <div class="group btmspace-50 demo">
            <div id="footer" class="one_half first">
              <ul class="nospace linklist contact">
                <li>
                  <div class="one_quarter quater_responsive">
                    <img src="/images/icons/adress.png" class="img-1 fa-size">
                  </div>
                  <div class="three_quarter three_quarter_responsive">
                    <div class="contact-info-wrapper">
                      <h3 class="contact-info">
                        <%= __('adress') %>
                      </h3>
                      <p class="contact-info-2"> Internacionalnih brigada 24a/4
                        <br> 11000 Belgrade, Serbia </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="one_quarter quater_responsive">
                    <img src="/images/icons/mail-2.png" class="img-1 fa-size">
                  </div>
                  <div class="three_quarter three_quarter_responsive">
                    <div class="contact-info-wrapper">
                      <h3 class="contact-info"> EMAIL </h3>
                      <a href="mailto:info@lawofficebelgrade.com" target="_top" class="contact-info-2"> info@lawofficebelgrade.com </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="one_quarter quater_responsive">
                    <img src="/images/icons/phone.png" class="img-1 fa-size">
                  </div>
                  <div class="three_quarter three_quarter_responsive">
                    <div class="contact-info-wrapper">
                      <h3 class="contact-info">
                        <%= __('phone') %>
                      </h3>
                      <p class="contact-info-2"> +381 (11) 24 32 800
                        <br> +381 (0) 63 103 5584
                        <br> +381 (0) 63 184 0171
                        <br> +381 (0) 64 574 7577 </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="comments" class="one_half one_half_responsive">
              <form action="https://formspree.io/sodakolor@gmail.com" method="post">
                <div class="one_half first" data-translatable>
                  <label for="name">
                    <%= __('firstname') %>
                      <span>*</span>
                  </label>
                  <input type="text" name="Ime" id="name" value="" size="22" required>
                </div>
                <div class="one_half">
                  <label for="email">
                    <%= __('lastname') %>
                      <span>*</span>
                  </label>
                  <input type="text" name="Prezime" id="lastname" value="" size="22" required>
                </div>
                <div class="block clear">
                  <label for="url">Email
                    <span>*</span>
                  </label>
                  <input type="email" name="Email" id="url" value="" size="22" required>
                </div>
                <div class="block clear">
                  <label for="url">
                    <%= __('tele') %>
                  </label>
                  <input type="text" name="Telefon" id="url" value="" size="22">
                </div>
                <div class="block clear">
                  <label for="Poruka">
                    <%= __('message') %>
                      <span>*</span>
                  </label>
                  <textarea name="Poruka" id="comment" cols="25" rows="10" required></textarea>
                </div>
                <div>
                  <input id="submit-button" class="fl_right fl_right_responsive" type="submit" name="" value="Submit">
                </div>
                <input type="text" name="_gotcha" style="display:none" />
              </form>
            </div>
          </div>
      </main>
      </div>

      <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
          <p class="fl_left">
            <img id="wh-srb" class="image_responsive" style="width: 250px;" src="/images/white-logo.png" alt="copyright-logo">
            <img id="wh-eng" class="image_responsive" style="width: 250px;" src="/images/wihte-logo-eng.png" alt="copyright-logo">
            <img id="wh-fr" class="image_responsive" style="width: 250px;" src="/images/white-logo-fr.png" alt="copyright-logo">
          </p>
          </p>
          <p class="fl_right allrights">
            <a>
              <a>
                <%= __('rights') %>
              </a>
            </a>
          </p>
        </div>
      </div>
      <!-- JAVASCRIPTS -->
      <script src="layout/scripts/jquery.min.js"></script>
      <script src="layout/scripts/jquery.backtotop.js"></script>
      <script src="layout/scripts/jquery.mobilemenu.js"></script>
      <script src="scripts/main.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc9Eq2y9mdshCVin__2xKkKcYfj7xp_Fc&callback=initMap" async
        defer></script>
  </body>

</html>