<!DOCTYPE html>
<html class="scroll-off" lang="<%= getLocale() %>">

<head>

  <head>
    <!-- Info -->
    <title>Belgrade law office</title>
    <meta name="author" content="David Milosavljević, sodakolor@gmail.com">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favico -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Styles -->
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body clsas="scroll-off" id="top">
    <div style="background-position: unset; background-size:     cover;                 
    background-repeat:   no-repeat;
    background-position: center center;   background-image:url('images/demo/backgrounds/law.jpg');" id="preloader" style="background-color: black;">
      <div class="section-preloader">
        <div class="section-border">
          <div class="pre-hr pre-hr_top"></div>
          <div class="pre-hr pre-hr_bottom"></div>
          <div class="pre-hr pre-hr_left"></div>
          <div class="pre-hr pre-hr_right"></div>
          <img id="logo2" src="images/logo2.png">
          <svg class="svg-farnosova" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 999.9 88" style="enable-background:new 0 0 999.9 88;" xml:space="preserve">
            <defs xmlns="http://www.w3.org/2000/svg">
              <filter x="-50%" y="-50%" width="200%" height="200%" id="boom">
                <feFlood id="flood-loader" flood-color="rgb(0, 0, 0)" flood-opacity="1" />
                <feComposite in2="SourceGraphic" operator="out" />
                <feGaussianBlur stdDeviation="9" />
                <feOffset dx="6" dy="6" />
                <feComposite in2="SourceAlpha" operator="in" result="r1" />
              </filter>
            </defs>
        </div>
      </div>
    </div>
    <p id="border-t"></p>
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul class="nospace">
            <li>
              <i style="color: #D3B889" class="fa fa-envelope-o"></i class="sm-letters"> info@lawofficebelgrade.com</li>
            <li>
              <i style="color: #D3B889" class="fa fa-phone"></i> +00 (381) 24 32 800</li>
          </ul>
        </div>
        <div class="fl_right">
          <img style="width: 25px;" src="images/demo/backgrounds/en.png">
          <a class="locale<%= getLocale() === 'srb' ? ' active' : '' %>" data-locale="srb" id="francuski" href="#">
            <img style="width: 25px; opacity: 0.5; margin-left: 5px;margin-right: 5px;" src="images/demo/backgrounds/fr.png">
          </a>
          <a href="#">
            <img style="width: 25px; opacity: 0.5;" src="images/demo/backgrounds/srb.png">
          </a>
        </div>
      </div>
    </div>
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <nav id="mainav" align="center">
          <ul class="clear">
            <li>
              <a href="#" data-translatable><%= __('homepage') %></a>
            </li>
            <li>
              <a href="#">
                <%= __('aboutus') %>
              </a>
            </li>
            <li>
              <a href="#"><%= __('fieldof') %></a>
            </li>
            <li>
              <a href="#"><%= __('reference') %></a>
            </li>
            <li>
              <a href="/contact"><%= __('contact') %></a>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay ftr-background" style="height: 600px; background-image:url('images/demo/backgrounds/01.png');">
      <div id="pageintro" align="center" class="hoc clear">
        <img style="width: 500px;" src="/images/icons/en-logo.png" alt="logo">
      </div>
    </div>

    <!-- Big menu with icons -->
    <div class="wrapper row-box" style="cursor: pointer;">
      <a class="box box1 first" href="index.html">
        <img src="/images/icons/about.png" class="img-1 fa-size">
        <img src="/images/icons/about-blue.png" class="img-1-blue fa-size hide">
        <h5 style="color: white;">About us</h5>
      </a>
      <a class="box box2" href="index.html">
        <img src="/images/icons/field.png" class="img-2 fa-size">
        <img src="/images/icons/field-blue.png" class="img-2-blue fa-size hide">
        <h5 style="color: white;">Field of practice</h5>
      </a>
      <a class="box box3" href="index.html">
        <img src="/images/icons/reference.png" class="img-3 fa-size">
        <img src="/images/icons/reference-blue.png" class="img-3-blue fa-size hide">
        <h5 style="color: white;">Reference</h5>
      </a>
      <a class="box box4" href="index.html">
        <img src="/images/icons/contact.png" class="img-4 fa-size">
        <img src="/images/icons/contact-blue.png" class="img-4-blue fa-size hide">
        <h5 style="color: white;">Contact us</h5>
      </a>
    </div>

    <!-- Sample for JS -->
    <a id="sample" href="#"></a>
    <a id="sample2" href="#"></a>

    <!-- Slide-up icon -->
    <a id="backtotop" href="#top">
      <i class="fa fa-chevron-up"></i>
    </a>

    <!-- JAVASCRIPTS -->
    <script type="text/javascript">
      $('.locale').click(function(e) {
        e.preventDefault();
        var locale = $(e.currentTarget).data('locale');
        var date = new Date();
        date.setTime(date.getTime() + (7 * 24 * 60 * 60 * 1000));
        document.cookie = "locale=" + locale + "; expires=" + date.toUTCString() + "; path=/";
        location.reload();
        return false;
      });
    </script>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
  </body>

</html>